<div class="main-header">
    <!-- <div class="mobile-toggle" id="mobile-toggle">
        <i class='bx bx-menu-alt-right'></i>
    </div> -->

    <button id="sidebar-btn" class="sidebar-btn">
        <span class="material-symbols-rounded">menu</span>
    </button>

    <div class="user-div">

        <!-- NOTIFICATIONS -->
        <div class="notification-button" id="notificationBtn">
            <span class="material-symbols-rounded">notifications</span>
            <div class="notification-badge">3</div>

            <!-- DROPDOWN -->
            <div class="notification-dropdown">
                <div class="notification-header">
                    <span>Notificaciones</span>
                    <small>3 nuevas</small>
                </div>

                <ul class="notification-list">
                    <li class="notification-item unread">
                        <span class="material-symbols-rounded">shopping_cart</span>
                        <div>
                            <p>Nueva orden creada</p>
                            <small>Hace 2 min</small>
                        </div>
                    </li>

                    <li class="notification-item unread">
                        <span class="material-symbols-rounded">payments</span>
                        <div>
                            <p>Pago confirmado</p>
                            <small>Hace 10 min</small>
                        </div>
                    </li>

                    <li class="notification-item">
                        <span class="material-symbols-rounded">info</span>
                        <div>
                            <p>Actualización del sistema</p>
                            <small>Ayer</small>
                        </div>
                    </li>
                </ul>

                <a href="#" class="notification-footer">Ver todas</a>
            </div>
        </div>

        <span class="user-name">100Puntadas</span>

        <div class="user-img" style="background-image: url(images/user-img.jpg)"></div>

        <a class="logout-btn" href="#">
            <span class="material-symbols-rounded">logout</span>
            <span class="logout-span">Salir</span>
        </a>
    </div>
</div>
