

<div class="main-header">
    <div class="mobile-toggle" id="mobile-toggle">
        <i class='bx bx-menu-alt-right'></i>
    </div>

    <button id="sidebar-btn" class="sidebar-btn">
        <i class="la la-bars"></i>
    </button>


    <div class="user-div">
        <div class="user-img" style="background-image: url(images/user-img.jpg)"></div>
        <span class="user-name">100Puntadas</span>
        <span class="las la-power-off"></span>
        <span>Logout</span>
    </div>
</div>