<div class="main-header">
    <div class="mobile-toggle" id="mobile-toggle">
        <button id="mobile-btn" class="mobile-btn">
            <span class="material-symbols-rounded">menu</span>
        </button>
    </div>

    <button id="sidebar-btn" class="sidebar-btn">
        <span class="material-symbols-rounded">menu</span>
    </button>

    <div class="user-div">

        <!-- NOTIFICATIONS -->
        <div class="notification-button" id="notificationBtn">
            <span class="material-symbols-rounded">notifications</span>
            <div class="notification-badge">0</div>

            <!-- DROPDOWN -->
            <div class="notification-dropdown">
                <div class="notification-header">
                    <span>Notificaciones</span>
                    <small>0 nuevas</small>
                </div>

                <ul class="notification-list"></ul>

                <a href="#" class="notification-footer">Ver todas</a>
            </div>
        </div>

        <span class="user-name">100Puntadas</span>

        <div class="user-img" style="background-image: url(images/user-img.jpg)"></div>

        <a class="logout-btn" href="/logout">
            <span class="material-symbols-rounded tiny-icon">logout</span>
            <span class="logout-span">Salir</span>
        </a>

    </div>
</div>