<div id="sidebar" class="sidebar">
    <div class="sidebar-logo">
        <img class="logo-img" src="/images/logo.png" alt="Logo del dashboard">
        <div class="sidebar-close" id="sidebar-close">
            <span class="material-symbols-rounded">close</span>
        </div>
    </div>

    <!-- SIDEBAR MENU -->
    <ul class="sidebar-menu">
        <li>
            <a href="/dashboard" class="active">
                <span class="material-symbols-rounded">home</span>
                <span class="sidebar-text">Panel</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="material-symbols-rounded">shopping_bag</span>
                <span class="sidebar-text">Ventas</span>
            </a>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <span class="material-symbols-rounded">person</span>
                <span class="sidebar-text">cuenta</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li><a href="#">editar perfil</a></li>
                <li><a href="#">configuración de cuenta</a></li>
                <li><a href="#">facturación</a></li>
            </ul>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <span class="material-symbols-rounded">storefront</span>
                <span class="sidebar-text">Tienda</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="#">lista de productos</a>
                </li>
                <li>
                    <a href="#">agregar producto</a>
                </li>
                <li>
                    <a href="#">pedidos</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">
                <span class="material-symbols-rounded">mail</span>
                <span class="sidebar-text">correo</span>
            </a>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <span class="material-symbols-rounded">settings</span>
                <span class="sidebar-text">configuración</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="#" class="darkmode-toggle" id="darkmode-toggle">
                        modo oscuro
                        <span class="darkmode-switch"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <footer class="footer">
        <div>
            BBoard ©
            <br><span class="full-text">All Rights Reserved 2025</span>
        </div>
    </footer>
</div>