<div class="sidebar">
    <div class="sidebar-logo">
        <img class="logo-img" src="/images/logo.png" alt="Logo del dashboard">
        <div class="sidebar-close" id="sidebar-close">
            <i class='bx bx-left-arrow-alt'></i>
        </div>
    </div>

    <!-- SIDEBAR MENU -->
    <ul class="sidebar-menu">
        <li>
            <a href="#" class="active">
                <i class='bx bx-home'></i>
                <span>panel</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class='bx bx-shopping-bag'></i>
                <span>ventas</span>
            </a>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-user-circle'></i>
                <span>cuenta</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li><a href="#">editar perfil</a></li>
                <li><a href="#">configuración de cuenta</a></li>
                <li><a href="#">facturación</a></li>
            </ul>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-category'></i>
                <span>E-commerce</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li><a href="#">lista de productos</a></li>
                <li><a href="#">agregar producto</a></li>
                <li><a href="#">pedidos</a></li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class='bx bx-mail-send'></i>
                <span>correo</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class='bx bx-chat'></i>
                <span>chat</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class='bx bx-calendar'></i>
                <span>calendario</span>
            </a>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-cog'></i>
                <span>configuración</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="#" class="darkmode-toggle" id="darkmode-toggle">
                        modo oscuro
                        <span class="darkmode-switch"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <footer class="footer">
        <div>
            BBoard ©
            <br>
            All Rights Reserved 2025
        </div>
    </footer>
</div>