<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        BBOARD
    </title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="/css/main-table.css">
    <link rel="stylesheet" href="/css/print.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body>
    <%- include("../partials/sidebar") %>

        <main class="main">
            <%- body %>
        </main>

        <script src="/js/sidebar.js"></script>
        <script src="/js/print.js"></script>
</body>

</html>