<%- include("partials/header") %>

    <div class="main-content">

        <div class="box">

            <div class="dashboard-card-header">
                Analíticas de ventas
            </div>

            <div class="analytics-container">

                <!-- GRAFICA VENTAS -->

                <div class="analytics-card">
                    <h3>Ventas por día</h3>
                    <div class="chart-placeholder">
                        Gráfica de ventas
                    </div>
                </div>


                <!-- METODOS DE PAGO -->

                <div class="analytics-card">
                    <h3>Métodos de pago</h3>

                    <ul class="analytics-list">
                        <li>
                            <span>Tarjeta</span>
                            <strong>65%</strong>
                        </li>

                        <li>
                            <span>Sinpe</span>
                            <strong>30%</strong>
                        </li>

                        <li>
                            <span>Efectivo</span>
                            <strong>5%</strong>
                        </li>
                    </ul>

                </div>


                <!-- PROVINCIAS -->

                <div class="analytics-card">
                    <h3>Top provincias</h3>

                    <ul class="analytics-list">

                        <li>
                            <span>San José</span>
                            <strong>42 pedidos</strong>
                        </li>

                        <li>
                            <span>Alajuela</span>
                            <strong>21 pedidos</strong>
                        </li>

                        <li>
                            <span>Cartago</span>
                            <strong>18 pedidos</strong>
                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>