<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva contraseña</title>
    <link rel="stylesheet" href="/css/reset-password.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
</head>

<body class="reset-page">
    <div class="reset-container animate-reset-scale">
        <div class="reset-header">
            <h2 class="reset-title">Nueva contraseña</h2>
            <p class="reset-subtitle">Ingresa tu nueva contraseña</p>
        </div>

        <form class="reset-form" action="/reset/<%= token %>" method="POST">
            <div class="reset-form-group">
                <label for="password">Nueva contraseña</label>
                <input type="password" id="password" name="password" placeholder="••••••••" required>
            </div>

            <div class="reset-form-submit">
                <button type="submit">ACTUALIZAR</button>
            </div>
        </form>


        <div class="reset-form-footer">
            <a href="/">
                <span class="material-symbols-rounded">arrow_back</span>
                <span class="footer-text">Volver al login</span>
            </a>
        </div>
    </div>
</body>

</html>