.footer {
  margin-top: auto;
  padding: 20px 3px 20px 10px;
  border-top: 1px solid var(--border-color);
}

.footer div {
  font-size: 12px;
  text-align: center;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.sidebar.collapsed .footer .full-text {
  display: none;
}
