:root {
  --body-bg: #fafafb;
  --box-bg: #ffffff;
  --main-color: #507cd1;
  --text-color: #455560;
  --text-second-color: #72849ab3;
  --border-color: #e9e9e9;
  --shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dark {
  --body-bg: #1a191f;
  --box-bg: #1a191f;
  --border-color: #222028;
  --text-color: #b9b9b9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  position: relative;
}

img {
  display: block;
  object-fit: contain;
}

a {
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
}

button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--main-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.btn i {
  font-size: 1.25rem;
}

.btn-outline {
  border: 0.5px solid var(--border-color);
  transition: background-color 0.2s ease-in-out;
}

.btn-outline:hover {
  background-color: var(--main-color);
  color: #fff;
}

.dropdown-icon {
  --size: 15px;
  --color: var(--text-color);
  height: var(--size);
  width: var(--size);
  position: relative;
  cursor: pointer;
}

.dropdown-icon::after,
.dropdown-icon::before {
  --height: 2px;
  content: "";
  width: 50%;
  height: var(--height);
  border-radius: 2.5px;
  position: absolute;
  top: calc(50% - var(--height) / 2);
  background-color: var(--color);
  transition: transform 0.3s ease;
}

.dropdown-icon::before {
  left: calc(50% - var(--height) / 3);
  transform-origin: center left;
  transform: rotate(-45deg);
}

.dropdown-icon::after {
  right: calc(50% - var(--height) / 3);
  transform-origin: right;
  transform: rotate(45deg);
}

.dropdown-icon.active::before {
  transform: rotate(45deg);
}

.dropdown-icon.active::after {
  transform: rotate(-45deg);
}

.darkmode-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.darkmode-switch {
  --height: 20px;
  --width: calc(var(--height) * 2);
  height: var(--height);
  width: var(--width);
  border-radius: calc(var(--height) / 2);
  background-color: #f5f6fa;
  position: relative;
}

.darkmode-switch::before {
  content: "";
  --height: 20px;
  --main-color: #507cd1;
  width: var(--height);
  height: var(--height);
  position: absolute;
  left: 0;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: left 0.3s ease-in-out;
}

.darkmode-switch.active::before {
  left: 50%;
}

