:root {
  --body-bg: #fafafb;
  --box-bg: #ffffff;
  --main-color: #507cd1;
  --text-color: #455560;
  --text-second-color: #72849ab3;
  --border-color: #e9e9e9;
  --shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dark {
  --body-bg: #2c2a35;
  --box-bg: rgb(19 23 34 / 0.5);
  --border-color: #b4b4b4;
  --text-second-color: #f1f1f1b3;
  --text-color: #f7f7f7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  position: relative;
}

img {
  display: block;
  object-fit: contain;
}

a {
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
}

button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--main-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.btn i {
  font-size: 1.25rem;
}

.btn-outline {
  border: 0.5px solid var(--border-color);
  transition: background-color 0.2s ease-in-out;
}

.btn-outline:hover {
  background-color: var(--main-color);
  color: #fff;
}
















