.main-header {
  height: 80px;
  padding: 20px 30px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--box-bg);
  border-bottom: 1px solid var(--border-color);
}

.dark .main-header {
  border-bottom: 1px solid var(--border-color);
}

.mobile-toggle {
  display: none;
}

.user-div {
  display: flex;
  align-items: center;
}

.user-img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-size: cover;
}

.user-div div,
.client-img {
  height: 40px;
  width: 40px;
}

.user-name {
  margin: 0 2rem 0 10px;
}

.user-div span:last-child {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.3rem;
  text-transform: capitalize;
}

.la-power-off:before {
  content: "\f011";
}

.la,
.las {
  font-size: 1.3rem;
  font-family: "Line Awesome Free";
  color: var(--text-color);
  font-weight: 900;
}

@media only screen and (max-width: 1280px) {
  .mobile-toggle {
    display: grid;
    place-items: center;
    font-size: 2rem;
    margin-right: 30px;
    cursor: pointer;
  }

  .sidebar-btn {
    display: none;
  }
}
