.box-table {
  max-height: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--box-bg);
  border: 0.5px solid var(--border-color);
  scrollbar-color: #507cd1 #f1f1f1;
  scrollbar-width: thin;
  overflow-y: auto;
}

.box-table::-webkit-scrollbar {
  width: 8px;
}

.box-table::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.box-table::-webkit-scrollbar-thumb {
  background-color: #507cd1;
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.order-status {
  font-weight: 500;
  padding: 5px 15px 10px;
  border-radius: 40px;
}

.product-quantity,
.product-price,
.order-total,
.order-status {
  font-size: 14px;
  color: var(--text-color);
}
