.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--box-bg);
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  transition: width 0.3s ease, transform 0.3s ease;
}

/* Estado colapsado */
.sidebar.collapsed {
  width: 90px;
}

/* Ocultar textos */
.sidebar.collapsed .sidebar-menu > li > a .sidebar-text {
  display: none;
}

/* Centrar iconos */
.sidebar.collapsed .sidebar-menu > li > a {
  justify-content: center;
}

/* Iconos más grandes */
.sidebar.collapsed .sidebar-menu > li > a > i {
  margin-right: 0;
  font-size: 1.6rem;
}

/* Ocultar flechas dropdown */
.sidebar.collapsed .dropdown-icon {
  display: none;
}

/* Submenús no visibles en modo colapsado */
.sidebar.collapsed .sidebar-menu-dropdown-content {
  display: none !important;
}

.dark .sidebar {
  border-right: 1px solid var(--border-color);
}

.sidebar-logo {
  width: 100%;
  height: 80px;
  position: relative;
  padding: 10px 5px 10px 23px;
  margin: 10px 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* Logo normal */
.sidebar-logo img {
  width: 150px;
  height: auto;
  margin-right: auto;
  transition: all 0.3s ease;
}

/* Sidebar colapsado */
.sidebar.collapsed .sidebar-logo {
  justify-content: center;
}

.sidebar.collapsed .sidebar-logo img {
  width: 42px; /* tamaño tipo inicial */
  height: 42px;
  object-fit: contain;
}

.sidebar.collapsed .logo-img {
  content: url("/images/minilogo.png");
}

.sidebar-menu {
  padding: 10px 0;
  list-style-type: none;
}

.sidebar-menu > li > a {
  width: 100%;
  height: 52px;
  padding: 15px 18px 15px 10px;
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--text-color);
  position: relative;
  transition: color 0.25s ease, background-color 0.25s ease,
    padding-left 0.25s ease;
  gap: 5px;
}

.sidebar-menu > li > a::before {
  width: 0;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  background-color: var(--main-color);
  transition: width 0.25s ease;
}

.sidebar-menu > li > a.active::before {
  width: 3px;
}

.sidebar-menu > li > a.active {
  color: var(--main-color);
  background: linear-gradient(
    90deg,
    rgba(62, 121, 247, 0.15),
    rgba(62, 121, 247, 0.04),
    transparent
  );
}

.sidebar-menu > li > a > i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.sidebar-menu-dropdown {
  position: relative;
}

.sidebar-menu-dropdown.active {
  color: var(--main-color);
}

.sidebar-menu-dropdown .dropdown-icon {
  position: absolute;
  right: 15px;
}

.sidebar-menu > li > a:hover > .dropdown-icon {
  --color: var(--main-color);
}

.sidebar-menu-dropdown-content {
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.25s ease-in-out;
}

.sidebar-menu-dropdown-content > li > a {
  padding-left: 50px;
}

.mobile-btn,
.sidebar-btn {
  width: auto;
  font-size: 1.5rem;
  background-color: #fff;
  padding: 6px 9px 1px 9px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  text-transform: capitalize;
}

.dropdown-icon {
  --size: 15px;
  --color: var(--text-color);
  height: var(--size);
  width: var(--size);
  position: relative;
  cursor: pointer;
}

.dropdown-icon::after,
.dropdown-icon::before {
  --height: 2px;
  content: "";
  width: 50%;
  height: var(--height);
  border-radius: 2.5px;
  position: absolute;
  top: calc(50% - var(--height) / 2);
  background-color: var(--color);
  transition: transform 0.3s ease;
}

.dropdown-icon::before {
  left: calc(50% - var(--height) / 3);
  transform-origin: center left;
  transform: rotate(-45deg);
}

.dropdown-icon::after {
  right: calc(50% - var(--height) / 3);
  transform-origin: right;
  transform: rotate(45deg);
}

.dropdown-icon.active::before {
  transform: rotate(45deg);
}

.dropdown-icon.active::after {
  transform: rotate(-45deg);
}

.darkmode-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
}

.darkmode-switch {
  --height: 20px;
  --width: calc(var(--height) * 2);

  width: var(--width);
  height: var(--height);
  background-color: #e1e1e1;
  border-radius: calc(var(--height) / 2);
  position: relative;
  transition: background-color 0.3s ease;
}

.darkmode-switch::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #507cd1;
  transition: left 0.3s ease;
}

.darkmode-switch.active::before {
  left: 50%;
}

.dark .darkmode-switch {
  background-color: #2f3640;
}

@media only screen and (max-width: 1280px) {
  .sidebar {
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
    z-index: 99;
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }
}
